* {
    margin: 0;
    padding: 0;
}

.text-justify {
    text-align: justify !important;
}

.topFixedBanner {
    background-image: url("../images/banner2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.topBannerOverlay {
    min-height: 500px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

.topContent {
    margin-top: 10rem;
}

.topTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    /*line-height: 96px;*/
    color: #fff;
    text-transform: uppercase;
}

.topSubTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    /*line-height: 48px;*/
    color: #fff;
}


.commonMainTitle {
    color: #0073E6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;

}

.commonTitle {
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.commonDescription {
    margin-top: 1rem;
    color: #7F7E7E;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.serviceCard {
    margin: 5px;
    height: 22rem;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
    padding: 60px 30px 60px 30px;
    text-align: center;
}

.serviceCard:hover {
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}

.navTitle {
    color: #fff !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.navTitleScroll {
    color: #0073E6 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.navBackground {
    background-color: rgba(0, 0, 0, 0.0) !important;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.navBackgroundScroll {
    background-color: #fff !important;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.navItem {
    text-decoration: none !important;
    color: #fff !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.navItemScroll {
    text-decoration: none !important;
    color: #000000 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.des {
    color: #000000 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.summaryFixedBanner {
    background-image: url("../images/banner1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 390px;
}

.summaryBannerOverlay {
    min-height: 390px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

.countNumber {
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.countTitle {
    color: #ffffff !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.countSection {
    margin-top: 12% !important;
}

.cardTitle {
    color: #000000 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.cardSubTitle {
    color: #000000 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.iconBullet {
    color: #0073E6 !important;
    font-size: 16px;
}

.workCard {
    margin-top: 14%;
    padding: 10px;
    border-radius: 2px;
}

.projectCard {
    border-radius: 2px;
    border: none !important;
    margin: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}

.projectCard:hover {
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}

.projectCardTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.projectCardDes {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.courseTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.courseDes {
    color: #7F7E7E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.courseDetailsBtn {
    color: #0073E6;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.courseImg {
    width: 100% !important;
}

.videoCard {
    padding: 6rem 3rem 6rem 3rem;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.1);
    background-color: #ffffff;
    margin: 50px auto;
}

.videoCard:hover {
    box-shadow: 0 0 20px 0 rgba(0, 115, 230, 0.2);
    transition: linear 500ms;
}

.playBtn {
    color: #0073E6;
    font-size: 50px;
    cursor: pointer;
}

.videoTitle {
    color: #0073E6;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.videoDes {
    color: #7F7E7E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.circleImg {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #0073E6;
}

.footerSection {
    margin-top: 5rem;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);

}

.socialLink {
    text-decoration: none;
    color: #0073E6;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.socialLink:hover {
    color: #000;
    text-decoration: none;
}

.footerLink {
    color: #7F7E7E;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.footerLink:hover {
    color: #0073E6;
    text-decoration: none;
    cursor: pointer;
}

.copyRightSection {
    padding: 20px;
    background-color: #0073E6;
    position: relative;
    z-index: 10;
}

.copyRightSection::before {
    content: '';
    width: 0;
    height: 63px;
    background-color: rgba(78, 17, 193, .3);
    position: absolute;
    top: 0;
    left: 37%;
    box-sizing: border-box;
    transition: .9s all ease;
    border-radius: 10px;
    z-index: -5;
}

.copyRightSection:hover::before {
    width: 340px;

}

.copyRightLink {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none !important;
}

.copyRightLink:hover {
    color: #ffffff;
}